# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compiled Java files
*.class

# Eclipse
.classpath
.project
.settings/

# Eclipse metadata
bin/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IntelliJ IDEA (if opened later)
.idea/
*.iml

# VS Code
.vscode/